       
a{
    text-decoration: none;
}
header{
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
font-family: "Bebas Neue", sans-serif;
}
.ContainerMain a{
    color: black;
    padding: 8px 0;
    display: block;
}
.navbar-brand{
    font-family:"Playwrite DE SAS", cursive;
}
.ContainerCard {
    padding: 20px;        
}

.row {
    justify-content: center; 
}
.card-img-top {
    height: 250px;        
    object-fit: contain;    
    width: 100%;          
    
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;         
}

.card-body {
    flex-grow: 1;         
    display: flex;
    flex-direction: column;
}

.card-footer {
    margin-top: auto;     
}
.sectionSobre {
    padding: 40px;
    background-color: #DADADA;
    color: #333;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
}
.sectionContato {
    padding: 40px;
    background-color:white;
}

.sectionContato form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.sectionContato input,
.sectionContato select,
.sectionContato textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sectionContato button {
    background-color: #3C71A5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sectionContato button:hover {
    background-color: #184681;
}


footer {
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}