       
a{
    text-decoration: none;
}
header{
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
font-family: "Bebas Neue", sans-serif;
}
.ContainerMain a{
    color: black;
}
.navbar-brand{
    font-family:"Playwrite DE SAS", cursive;
}
